header {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  padding: 16px;
  width: 100%;
  min-height: 56px;
  height: 100%;
  border-bottom: 1px solid var(--gray-200);
}

.logoIcon {
  width: 19px;
  height: 19px;
  margin-top: 3px;
}

.textareaContainer {
  flex: 1;
}

textarea {
  height: auto;
  font-family: Inter-Regular, sans-serif;
  font-size: 16px;
  line-height: 24px;
  border: none;
  caret-color: #3A41F0;
  border-radius: 0;
  cursor: pointer;
  resize: none;
  width: 100%;
}

textarea:focus {
  border: none;
  outline: none;
}

.help {
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: 3px;
}

.helpIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
